:root {
    --primary: rgba(240, 205, 108, 0.90);
    --secondary: #95989A;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    padding-bottom: 500px;
}*/

/* Descrição Cabeçalho */

#cabecalhodescricao {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#avisocabecalho h2,
#avisocabecalho .data {
    color: var(--primary);
}

#avisocabecalho h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#avisocabecalho .cabecalhosobre {
    font-size: 1em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#avisocabecalho {
    font-size: 1.2em;
    margin-bottom: 3em;
}

#avisocabecalho .data {
    font-weight: bold;
}

#cabecalhoform {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#cabecalhoform p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.grupo-form label {
    color: var(--text-tertiary);
    margin-bottom: .3em;
    font-weight: bold;
}

.grupo-form input,
.grupo-form select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

/* Beneficios */

#beneficios h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
}

.beneficiossobre {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.beneficiossobre2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.beneficiossobre2 .beneficios-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#beneficios1 {
    background-image: url(../img/ben1.jpg);
}

#beneficios2 {
    background-image: url(../img/ben2.jpg);
}

#beneficios3 {
    background-image: url(../img/ben3.jpg);
}

/* Local */

#local {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../img/img2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#enderec,
#sobreenderec {
    max-width: 30%;
}

#enderec {
    display: flex;
}

#enderec i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#enderecdetalhes {
    text-align: center;
    font-size: 1.3em;
}

#sobreenderec h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#sobreenderec p {
    line-height: 1.5em;
}

/* Detalhes do Local */

#detalhes {
    width: 80%;
    margin: 0 auto;
}

.detalhe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detalhe img {
    width: 50%;
}

.detalhe h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

#detalhe-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.descricaodetalhe {
    width: 100%;
    padding-left: 2em;
}

.descricaodetalhe ul {
    list-style-position: inside;
}

.descricaodetalhe ul li {
    margin-bottom: 0.4em;
}

.descricaodetalhe ul li:last-child {
    font-weight: bold;
}

/* Botão Final */

#cta {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../img/img2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

#cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}

/* Rodapé */

#rodape {
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rodape h3 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

#rodape p:nth-child(2) {
    margin-bottom: 1em;
    font-size: 1.2em;
}

#rodape span {
    font-weight: bold;
}

#rodape a{
    font-weight: bold;
    color: var(--secondary);
    text-decoration: none;
}

/* Mobile */

@media (max-width: 450px) {

    .btn {
        opacity: 1;
    }

    /* Descrição Cabeçalho */

    #cabecalhodescricao {
        flex-direction: column;
        height: auto;
    }

    #avisocabecalho {
        padding: 2em;
    }

    #avisocabecalho h2 {
        margin-bottom: 0.5em;
    }

    #cabecalhoform {
        max-width: 70%;
        margin-bottom: 2em;

    }

    /* Beneficios */

    .beneficiossobre {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .beneficiossobre2 {
        max-width: 100%;
        margin-bottom: 2em;
    }

    /* Local */

    #local {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;

    }

    #enderec {
        order: 2;
        flex-direction: column;
        max-width: 100%;

    }

    #enderec i {
        margin: .3em 0;
    }

    #sobreenderec {
        order: 1;
        max-width: 100%;
    }

    #sobreenderec h3 {
        margin-bottom: 0;
    }

    #sobreenderec p {
        display: none;
    }

    /* Detalhes do Local */

    .detalhe {
        flex-direction: column;
        margin-bottom: .5em;
        gap: 0;
    }

    .detalhe img {
        width: 100%;
        margin: 2em 0;
    }

    #detalhe-1 img {
        display: none;
    }

    .descricaodetalhe {
        padding: 0;

    }

    #detalhe-3 img {
        order: 2;
    }

    #detalhe-3 .descricaodetalhe {
        order: 1;
    }

    /* Botão Final */

    #cta .btn {
        width: 80%;
    }

    #cta {
        text-align: center;
    }












}